body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: table;
    width: 100%;
    text-align: center;
}

.button-container {
    display: table-cell;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: none;
    padding: 0;
    margin: 0;
}

.button {
    background-color: black;
    color: white;
    padding: 2px 20px;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px; 
}
